@import url(https://fonts.google.com/specimen/Abel?preview.size=20&category=Sans+Serif);

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --HEADER-BGCOLOR: #444;
  --HEADER-COLOUR: whitesmoke;
}

html {
  font-size: 1.5rem;
  font-family: "Abel";
}

body {
  min-height: 100vh;
  display: flex;
}
