body {
    font-family: Arial, Helvetica, sans-serif;
}

.todo-grid, 
.todo-input-grid {
    display: grid;
    grid-template-columns: 200px 150px 100px;
    column-gap: 13px;
    row-gap: 13px;
    align-items: center;
}

.todo-input-grid {
    margin-bottom: 10px;
    align-items: stretch;
}

.name-input,
.due-date-input {
    font-size: 17px;
    padding: 7px;

}

.add-todo-button {
    background-color: green;
    color: rgb(166, 236, 236);
    border: none;
    font-size: 17px;
    cursor: pointer;
}

.delete-todo-button {
    background-color: darkred;
    color: white;
    border: none;
    font-size: 17px;
    cursor: pointer;
    padding-top: 11px;
    padding-bottom: 11px;

